@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* BODY */
body {
  margin: 0;
  font-family: "Roboto";
  background-color: #5BFFDE;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.navigationhome {
  display: flex;
  justify-content: center;
  gap: 16px;
  list-style-type: none;
}

@media (landscape) and (min-width: 427px) and (max-width: 1023) {
body {
  background-color: #5BFFDE;
}
}

/* MAIN */
section {
  height: 100vh;
}

.hero{
  display: flex;
  align-items: center;
  justify-content: center;
}

.villain{
  width: 50%;
}

.honglu{
  width: 50%;
}

@media (max-width: 426px) {
  .hero{
    flex-direction: column;
  }

  .villain{
    width: 100%;
  }

  .honglu{
    width: 100%;
  }
}

/* FOOTER */
footer {
  /* display: flex;
  justify-content: center; */
  text-align: center;
}

.hamgurger{
  width: 30px;
}