@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* BODY */
body {
  margin: 0;
  font-family: "Roboto";
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.navigationhome {
  display: flex;
  justify-content: center;
  gap: 16px;
  list-style-type: none;
}

@media (max-width: 426px) {
body {
  background-color: #5BFFDE;
}
}

/* MAIN */
section {
  height: 100vh;
}

/* FOOTER */
footer {
  /* display: flex;
  justify-content: center; */
  text-align: center;
}

.hamgurger{
  width: 30px;
}

.honglu{
  width: 100px;
}